body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:890px;
  height:560px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:125px;
  top:60px;
  width:40px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:100px;
  width:890px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:873px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:890px;
  height:1px;
}
#u5 {
  position:absolute;
  left:175px;
  top:70px;
  width:90px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:245px;
  top:71px;
  width:10px;
  height:21px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:4px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:21px;
}
#u8 {
  position:absolute;
  left:257px;
  top:73px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:770px;
  top:64px;
  width:200px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:776px;
  top:68px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:810px;
  top:72px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1074px;
  top:116px;
  width:33px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u17 {
  position:absolute;
  left:-2px;
  top:12px;
  width:36px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:18.5px 8px;
  -ms-transform-origin:18.5px 8px;
  -moz-transform-origin:18.5px 8px;
  -webkit-transform-origin:18.5px 8px;
}
#u18 {
  position:absolute;
  left:1074px;
  top:170px;
  width:33px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u19 {
  position:absolute;
  left:-2px;
  top:12px;
  width:36px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:18.5px 8px;
  -ms-transform-origin:18.5px 8px;
  -moz-transform-origin:18.5px 8px;
  -webkit-transform-origin:18.5px 8px;
}
#u20 {
  position:absolute;
  left:1128px;
  top:302px;
  width:14px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1074px;
  top:226px;
  width:33px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u23 {
  position:absolute;
  left:-2px;
  top:12px;
  width:36px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:18.5px 8px;
  -ms-transform-origin:18.5px 8px;
  -moz-transform-origin:18.5px 8px;
  -webkit-transform-origin:18.5px 8px;
}
#u24 {
  position:absolute;
  left:1074px;
  top:282px;
  width:33px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u25 {
  position:absolute;
  left:-2px;
  top:12px;
  width:36px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:18.5px 8px;
  -ms-transform-origin:18.5px 8px;
  -moz-transform-origin:18.5px 8px;
  -webkit-transform-origin:18.5px 8px;
}
#u26 {
  position:absolute;
  left:1074px;
  top:347px;
  width:33px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u27 {
  position:absolute;
  left:-2px;
  top:12px;
  width:36px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:18.5px 8px;
  -ms-transform-origin:18.5px 8px;
  -moz-transform-origin:18.5px 8px;
  -webkit-transform-origin:18.5px 8px;
}
#u28 {
  position:absolute;
  left:129px;
  top:164px;
  width:62px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:208px;
  top:160px;
  width:501px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:129px;
  top:200px;
  width:62px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:208px;
  top:200px;
  width:130px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33_input:disabled {
  color:grayText;
}
#u34 {
  position:absolute;
  left:208px;
  top:240px;
  width:501px;
  height:140px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:140px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:129px;
  top:242px;
  width:62px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:208px;
  top:390px;
  width:230px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:129px;
  top:400px;
  width:53px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:208px;
  top:482px;
  width:100px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42 {
  position:absolute;
  left:129px;
  top:120px;
  width:95px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:713px;
  top:152px;
  width:33px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u45 {
  position:absolute;
  left:-2px;
  top:12px;
  width:36px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:18.5px 8px;
  -ms-transform-origin:18.5px 8px;
  -moz-transform-origin:18.5px 8px;
  -webkit-transform-origin:18.5px 8px;
}
#u46 {
  position:absolute;
  left:1120px;
  top:128px;
  width:275px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:341px;
  top:190px;
  width:33px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u49 {
  position:absolute;
  left:-2px;
  top:12px;
  width:36px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:18.5px 8px;
  -ms-transform-origin:18.5px 8px;
  -moz-transform-origin:18.5px 8px;
  -webkit-transform-origin:18.5px 8px;
}
#u50 {
  position:absolute;
  left:1120px;
  top:182px;
  width:92px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:713px;
  top:290px;
  width:33px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u53 {
  position:absolute;
  left:-2px;
  top:12px;
  width:36px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:18.5px 8px;
  -ms-transform-origin:18.5px 8px;
  -moz-transform-origin:18.5px 8px;
  -webkit-transform-origin:18.5px 8px;
}
#u54 {
  position:absolute;
  left:1120px;
  top:238px;
  width:120px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:713px;
  top:390px;
  width:33px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u57 {
  position:absolute;
  left:-2px;
  top:12px;
  width:36px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:18.5px 8px;
  -ms-transform-origin:18.5px 8px;
  -moz-transform-origin:18.5px 8px;
  -webkit-transform-origin:18.5px 8px;
}
#u58 {
  position:absolute;
  left:1120px;
  top:294px;
  width:264px;
  height:65px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:65px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:452px;
  top:394px;
  width:247px;
  height:32px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:32px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:321px;
  top:474px;
  width:33px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u63 {
  position:absolute;
  left:-2px;
  top:12px;
  width:36px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:18.5px 8px;
  -ms-transform-origin:18.5px 8px;
  -moz-transform-origin:18.5px 8px;
  -webkit-transform-origin:18.5px 8px;
}
#u64 {
  position:absolute;
  left:1120px;
  top:359px;
  width:118px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:208px;
  top:430px;
  width:230px;
  height:37px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:37px;
}
#u67 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1070px;
  top:50px;
  width:352px;
  height:32px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:32px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  white-space:nowrap;
}
